.App {
  text-align: center;
  overflow: hidden;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}

p {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.App-relevancySection {
  font-size: 3.25rem;
  min-height: 25vh;
}

.App-relevancyText {
  margin-top: 1.5rem;
}

.hiddenWithTransition {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2000ms;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.App-download {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  transition-delay: 2000ms;
}

